.wp-block-show-my-social-icons-all-icons {
    background: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.smsi-block-preview {
    font-style: italic;
    color: #666;
}