.smsi-icons-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Default center alignment */
}

.smsi-icons-wrapper[style*="text-align: left"] {
    justify-content: flex-start;
}

.smsi-icons-wrapper[style*="text-align: center"] {
    justify-content: center;
}

.smsi-icons-wrapper[style*="text-align: right"] {
    justify-content: flex-end;
}

.my-social-icon-single {
    display: inline-block;
}

.my-social-icon-single[style*="text-align: left"] {
    text-align: left;
}

.my-social-icon-single[style*="text-align: center"] {
    text-align: center;
}

.my-social-icon-single[style*="text-align: right"] {
    text-align: right;
}

.smsi-icons-wrapper img {
    max-width: 100%; /* Ensures icons scale within their containers */
    height: auto;
}

.smsi-icons-wrapper a:hover, .show-my-social-icons-single a:hover {
    opacity: 0.8;
}

.wp-block-show-my-social-icons-single {
    margin: 20px 0;
}

.smsi-single-icon-wrapper {
    display: block;
    width: 100%;
}

.smsi-single-icon-wrapper[style*="text-align: left"] {
    text-align: left;
}

.smsi-single-icon-wrapper[style*="text-align: center"] {
    text-align: center;
}

.smsi-single-icon-wrapper[style*="text-align: right"] {
    text-align: right;
}

.smsi-single-icon-wrapper img {
    display: inline-block;
}

.smsi-single-icon-wrapper svg {
    width: 100%;
    height: auto;
}

/* Default hover effect */
.smsi-icon-hover-style1 a:hover svg, .smsi-icon-hover-style1 a:hover img,
.smsi-icon-hover-style1:hover svg, .smsi-icon-hover-style1:hover img {
    opacity: 0.7;
}

/* Hover effect 2: Scale up */
.smsi-icon-hover-style2 a:hover svg, .smsi-icon-hover-style2 a:hover img,
.smsi-icon-hover-style2:hover svg, .smsi-icon-hover-style2:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    opacity: 0.9;
}

/* Hover effect 3: Rotate */
.smsi-icon-hover-style3 a:hover svg, .smsi-icon-hover-style3 a:hover img,
.smsi-icon-hover-style3:hover svg, .smsi-icon-hover-style3:hover img {
    transform: rotate(15deg);
    transition: transform 0.3s ease;
    opacity: 0.9;
}

.smsi-icon-wrapper {
    display: inline-block;
    margin-right: 10px; /* Default spacing */
}

.smsi-icon-wrapper:last-child {
    margin-right: 0; /* Remove margin for the last icon */
}

/* Menu Icons */
nav a.smsi-menu-icon {
    display: inline-block;
}

.smsi-menu-social-icons {
    display: flex;
    align-items: center;
}

.smsi-menu-social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.smsi-menu-social-icons img {
    vertical-align: middle;
}

.smsi-icon:hover.smsi-icon-hover-style1 {
    transform: scale(1.2);
    transition: transform 0.3s;
}

.smsi-icon:hover.smsi-icon-hover-style2 {
    filter: brightness(0.8);
    transition: filter 0.3s;
}

.smsi-icon:hover.smsi-icon-hover-style3 {
    transform: rotate(15deg);
    transition: transform 0.3s;
}

.smsi-menu-social-icons > a {
    padding-left: 0;
    padding-right: 0;
}